.vertical-menu {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  height: 100%;
  /* Full height */
  position: fixed;
  /* Make it stick, even on scroll */
  overflow: auto;
  /* Enable scrolling if the sidenav has too much content */
  background-color: #ffe3b2;
}

.vertical-menu button {
  width: 100%;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu button:hover {
  background-color: #ffe7c5;
}
.dropdown-menu{
  width: 160px !important;
}

.vertical-menu button.active {
  background-color: #ffe7c5;
  color: white;

}

.container {
  width: auto;
  margin-left: 25%;
}
