<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Ajouter un inventaire</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form #inventoryForm="ngForm">
    <div class="container">
      <label for="numero"><b>Numero d'inventaire</b></label>
      <input type="text" placeholder="Tapez le numero" [(ngModel)]="inventory.num_inventory" name="numero">

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of produits; let i = index">

            <td>

              <label *ngFor="let product of productsListToshow" [hidden]="product.idProduct!=prod.key.idProduct">
                {{product.designation}}
              </label>
            </td>
            <td>
              <input class="form-control" type="text" placeholder="Tapez la Quantité" value="{{prod.value}}" [value]="prod.value" (input)="prod.value=$event.target.value" name="quantite{{i}}" required>
            </td>

            <td>
              <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
            </td>
          </tr>


          <tr>
            <td>
              <select type="produit" [(ngModel)]="produit.key.idProduct" name="produit" class="form-control">
                <option *ngFor="let product of productsListToshow" value="{{product.idProduct}}">
                  {{product.designation}}
                </option>
              </select>

            </td>
            <td>
              <input class="form-control" type="text" placeholder="Tapez la Quantité" [(ngModel)]="produit.value" name=" quantite" required>
            </td>

            <td>
              <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
            </td>
          </tr>


        </tbody>
      </table>

    </div>
  </form>


</div>

<div class="modal-footer">
  <div class="clearfix">
    <button type="button" class="cancelbtn" (click)="activeModal.close('Close click')">Annuler</button>
    <button type="submit" class="signupbtn" (click)="saveInventory(inventory,inventoryForm,1)">Sauvegarder</button>
    <button type="submit" class="signupbtn" (click)="saveInventory(inventory,inventoryForm,0)">Cloturer</button>
  </div>
</div>
